$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$background_color: lightgrey;

body {
  background-color: $background_color;
}
